:root {
  --moonlight-background: #0F1123;
  --moonlight-sky-dark: #1A237E;
  --moonlight-sky: #3F51B5;
  --moonlight-sky-light: #7986CB;
  --moonlight-light: #C5CAE9;
  --moonlight-moon: #FFD700;
  --moonlight-moon-light: #FFFACD;
}
