---
layout: default
---

<div id="categories">
  {%for category in site.categories %}
  <div class="category_list">
    {% capture category_name %}{{ category.first }}{% endcapture %}
    <div id="category_name"></div>
    <h2 class="category_title">{{ category_name }} ({{ site.categories[category_name].size() }})</h2>
    <h4 class="category_info">{{ site.category_info[category_name] }}</h4>
    {%for post in site.categories[category_name] %}
    <article class="category_posts">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
    </article>
    {%endfor %}
    <p />
  </div>
  {%endfor %}
</div>
